 <div class="row">
   <div class="col-md-8">
     <div class="media">
       <br />
       <% avatar_url = @user.avatar_url(128) %>
       <% if avatar_url %>
         <div class="media-left">
           <%= image_tag avatar_url, class: 'media-object' %>
         </div>
       <% end %>
       <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <small>
           <%= pluralize(@user.posts.count, 'post') %>,
           <%= pluralize(@user.comments.count, 'comment') %>
         </small>
       </div>
     </div>
   </div>
 </div>
 
 <% if posts_for_user?(@user) %>
  <h2>Posts</h2>
  <%= render @user.posts %>
 <% else %>
  <div class="media-body">
    <%= @user.name %> has not submitted any posts yet.
  </div>
 <% end %>
 
 <% if comments_for_user?(@user) %>
  <h2>Comments</h2>
  <%= render @user.comments %>
 <% else %>
  <div class="media-body">
    <%= @user.name %> has not submitted any comments yet.
  </div>
 <% end %>
 
 <% if favorite_posts_for_user?(@user) %>
  <h2>Favorite Posts</h2>
  <%= render @user.favorite_posts %>
 <% else %>
  <div class="media-body">
    <%= @user.name %> has not favorited any posts yet.
  </div>
 <% end %> 
 